<script setup>
import { useState } from "@/state.js";
import TaskBoardColumn from "./TaskBoardColumn.vue";

const { statuses } = useState();
</script>

<template>
  <div class="task-board">
    <TaskBoardColumn
      v-for="status of statuses"
      :key="status.id"
      :status="status"
    />
  </div>
</template>

<style scoped>
.task-board {
  height: 100%;
  display: flex;
}
</style>
