<script setup>
import { computed } from "vue";
import { useState } from "@/state.js";
import TaskCard from "./TaskCard.vue";

const props = defineProps({
  status: {
    type: Object,
    required: true
  }
});

const { tasks } = useState();

const statusTasks = computed(() => tasks.value.filter(t => t.status === props.status.id));

const onDrop = event => {
  const [id, index, status] = event.dataTransfer.getData("text/plain").split("/");
  console.log(`task: id = ${id}, index = ${index}, status = ${status}`);
};
</script>

<template>
  <div
    class="task-board-column"
    @dragenter.prevent="() => {}"
    @dragover.prevent="() => {}"
    @drop="onDrop"
  >
    <div class="title">
      {{ status.name }}
    </div>
    <TaskCard 
      v-for="task of statusTasks" :key="task.id"
      :task="task"
    />
  </div>  
</template>

<style scoped>
.task-board-column {
  position: relative;
  width: 400px;
  height: 100%;
  padding: var(--spacing-unit);
  border-right: 1px solid #000;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-unit);

  .title {
    position: sticky;
    z-index: 1;
    top: 0;
    padding: var(--spacing-unit) 0;
    background-color: var(--color-background);
    box-shadow: 0 0 0 var(--spacing-unit) var(--color-background);
    text-align: center;
    font-weight: bold;
  }
}
</style>
