<script setup>
const props = defineProps({
  task: {
    type: Object,
    required: true
  },
});

const taskData = task => `${task.id}/${task.index}/${task.status}`;

const onDragStart = event => {
  event.dataTransfer.setData("text/plain", taskData(props.task));
};
</script>

<template>
  <div class="task-card" draggable="true" @dragstart="onDragStart">
    <div class="name">{{ task.name }}</div>
    <div class="prio">{{ task.priority }}</div>
    <div class="desc">{{ task.description }}</div>
  </div>
</template>

<style scoped>
.task-card {
  --padding: var(--spacing-unit);

  position: relative;
  padding: var(--padding);
  border: 1px solid #000;
  border-radius: 2px;
  background-color: #D0D0D0;

  .name {
    margin-bottom: calc(var(--spacing-unit) / 2);
    font-weight: bold;
  }

  .prio {
    position: absolute;
    top: var(--padding);
    right: var(--padding);
    font-weight: bold;
  }
}
</style>
