/* CSS global variables */
:root {
  --color-background: #FFF;
  --color-text: #000;
  --font-size: 16px;
  --spacing-unit: 12px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  font-size: var(--font-size);
  color: var(--color-text);
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: var(--color-background);
}
