<script setup>
import { ref } from "vue";
import { useState } from "./state.js";
import TaskBoard from "./components/TaskBoard.vue";

const { loadData } = useState();

const loading = ref(false);

(async () => {
  loading.value = true;
  await loadData();
  loading.value = false;
})();
</script>

<template>
  <div class="jarialtekin-app">
    <div class="content">
      <TaskBoard />
    </div>

    <div class="loading" v-show="loading">
      Loading...
    </div>
  </div>
</template>

<style scoped>
.jarialtekin-app {
  position: relative;
  height: 100%;

  .content {
    height: 100%
  }

  .loading {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    place-content: center;
    place-items: center;
    background-color: var(--color-background);
    font-weight: bold;
  }
}

</style>
